# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Autotools files
.deps
Makefile
Makefile.am
Makefile.in
aclocal.m4
autom4te.cache/
config.status
config.log
configure.ac
compile
depcomp
install-sh
missing

# Misc files
*.swp

